<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
        <!--屏幕打印消息-->
        <target name="console" xsi:type="ColoredConsole" 
                        layout="${date:format=HH\:mm\:ss} | ${level} | ${logger} | ${message}  ${onexception:${exception:format=tostring} ${newline} "/>
        
        <!--VS输出窗口-->
        <target name="debugger" xsi:type="Debugger"
                        layout="${date:format=HH\:mm\:ss} | ${level:padding=-5} | ${message}" />

        <!--保存至文件-->
        <target name="error_file" xsi:type="File" maxArchiveFiles="5"
                        fileName="${basedir}/Logs/${shortdate}-error.txt"
                        layout="${longdate} | ${level:uppercase=false:padding=-5} | ${logger} | ${message} ${onexception:${exception:format=tostring} ${newline} ${stacktrace} ${newline}" />
    </targets>
    <rules>
        <logger name="*" writeTo="console" />
        <!--<logger name="*" minlevel="Trace" writeTo="debugger" />-->
        <logger name="*" minlevel="Trace" writeTo="error_file" />
    </rules>
</nlog>